In [1]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [6]:
#import data
bed_types = ['Studio', '1Bedroom', '3Bedroom', '4Bedroom', '5BedroomOrMore']
dataset = [None]*len(bed_types)
for index, term in enumerate(bed_types):
    print(term)
    temp_df=pd.read_csv('data/Zip_MedianRentalPrice_{0}.csv'.format(term))
    temp_df = temp_df[temp_df['City'] == 'Seattle']
    dataset[index] = temp_df

Studio
     RegionName     City State    Metro CountyName  SizeRank  2010-03  \
70        98103  Seattle    WA  Seattle       King        71      NaN
156       98122  Seattle    WA  Seattle       King       157      NaN
251       98109  Seattle    WA  Seattle       King       252      NaN
268       98105  Seattle    WA  Seattle       King       269      NaN
327       98102  Seattle    WA  Seattle       King       328      NaN
445       98107  Seattle    WA  Seattle       King       446      NaN
513       98121  Seattle    WA  Seattle       King       514      NaN
663       98101  Seattle    WA  Seattle       King       664      NaN
733       98104  Seattle    WA  Seattle       King       734      NaN

     2010-04  2010-05  2010-06   ...     2017-05  2017-06  2017-07  2017-08  \
70       NaN      NaN      NaN   ...      1595.0   1660.0   1395.0   1395.0
156      NaN      NaN      NaN   ...      1495.0   1627.5   1627.5   1612.5
251      NaN      NaN      NaN   ...      1656.0   1725.0   1695.0   1734.0
268      NaN      NaN      NaN   ...      1350.0   1350.0   1350.0   1399.0
327      NaN      NaN      NaN   ...      1500.0   1562.0   1495.0   1650.0
445      NaN      NaN      NaN   ...      1544.0   1395.0   1362.5   1375.0
513      NaN      NaN      NaN   ...      1708.0   1765.0   1793.0   1715.0
663      NaN      NaN      NaN   ...      1950.0   1964.0   1995.0   1889.5
733      NaN      NaN      NaN   ...      1805.0   1757.0   1730.0   1728.0

     2017-09  2017-10  2017-11  2017-12  2018-01  2018-02
70    1380.0   1400.0   1307.5   1335.0   1412.5   1340.0
156   1600.0   1550.0   1452.5   1468.0   1471.0   1441.0
251   1726.5   1669.5   1640.5   1592.5   1650.0   1645.0
268   1295.0   1300.0   1315.0   1285.0   1307.5   1297.5
327   1395.0   1350.0   1395.0   1380.0   1450.0   1415.0
445   1400.0   1533.0   1545.0   1478.0   1525.0   1451.5
513   1700.0   1671.0   1685.0   1643.0   1800.0   1852.5
663   1875.0   1747.5   1717.5   1760.0   1667.0   1650.0
733   1671.5   1588.0   1512.0   1503.5   1545.5   1476.5

[9 rows x 102 columns]
1Bedroom
     RegionName     City State    Metro CountyName  SizeRank  2010-09  \
112       98103  Seattle    WA  Seattle       King       113      NaN
180       98115  Seattle    WA  Seattle       King       181      NaN
243       98122  Seattle    WA  Seattle       King       244      NaN
334       98125  Seattle    WA  Seattle       King       335      NaN
383       98109  Seattle    WA  Seattle       King       384      NaN
400       98105  Seattle    WA  Seattle       King       401      NaN
404       98118  Seattle    WA  Seattle       King       405      NaN
483       98102  Seattle    WA  Seattle       King       484      NaN
602       98107  Seattle    WA  Seattle       King       603      NaN
657       98116  Seattle    WA  Seattle       King       658      NaN
676       98121  Seattle    WA  Seattle       King       677      NaN
811       98112  Seattle    WA  Seattle       King       812      NaN
819       98106  Seattle    WA  Seattle       King       820      NaN
834       98101  Seattle    WA  Seattle       King       835      NaN
913       98104  Seattle    WA  Seattle       King       914      NaN

     2010-10  2010-11  2010-12   ...     2017-05  2017-06  2017-07  2017-08  \
112      NaN      NaN      NaN   ...      1850.0   1814.0   1790.0   1806.0
180      NaN      NaN      NaN   ...      1750.0   1756.0   1738.0   1767.0
243      NaN      NaN      NaN   ...      1920.0   1975.0   1999.0   1950.0
334      NaN      NaN      NaN   ...      1395.0   1397.5   1405.0   1431.5
383      NaN      NaN      NaN   ...      2105.0   2137.5   2145.0   2095.0
400      NaN      NaN      NaN   ...      1660.5   1579.5   1575.0   1495.0
404      NaN      NaN      NaN   ...      1750.0   1895.0   1813.5   1825.0
483      NaN      NaN      NaN   ...      1950.0   1975.0   1995.0   1985.0
602      NaN      NaN      NaN   ...      1915.0   1975.0   1975.0   1980.0
657      NaN      NaN      NaN   ...      1849.0   1869.0   1871.5   1837.0
676      NaN      NaN      NaN   ...      2597.5   2413.0   2404.0   2770.0
811      NaN      NaN      NaN   ...      1635.0   1695.0   1695.0   1685.0
819      NaN      NaN      NaN   ...      1589.5   1585.0   1595.0   1550.0
834      NaN      NaN      NaN   ...      2385.0   2610.0   2605.0   2585.0
913      NaN      NaN      NaN   ...      2151.5   2150.0   2183.5   2120.0

     2017-09  2017-10  2017-11  2017-12  2018-01  2018-02
112   1728.0   1700.0   1600.0   1649.0   1700.0   1750.0
180   1735.0   1711.0   1627.5   1557.0   1595.0   1755.0
243   1955.0   1950.0   1950.0   1925.0   1925.0   1940.0
334   1425.0   1395.0   1350.0   1350.0   1380.0   1400.0
383   2160.0   2185.0   2080.0   2090.0   2140.0   2100.0
400   1600.0   1528.0   1550.0   1595.0   1595.0   1521.0
404   1779.5   1775.0   1726.0   1734.0   1709.0   1707.0
483   1795.0   1795.0   1750.0   1725.0   1700.0   1785.0
602   1995.0   1875.0   1852.5   1768.0   1725.0   1729.0
657   1826.0   1824.0   1822.0   1824.0   1822.0   1799.5
676   2691.5   2700.0   2690.0   2630.0   2749.0   2855.0
811   1597.5   1600.0   1595.0   1512.5   1595.0   1600.0
819   1595.0   1550.0   1585.0   1570.0   1552.0   1535.0
834   2500.0   2495.0   2471.0   2450.0   2422.0   2372.5
913   1967.0   1861.0   1824.5   1835.0   1835.0   1886.5

[15 rows x 96 columns]
3Bedroom
     RegionName     City State    Metro CountyName  SizeRank  2010-03  \
129       98103  Seattle    WA  Seattle       King       130      NaN
560       98105  Seattle    WA  Seattle       King       561      NaN

     2010-04  2010-05  2010-06   ...     2017-05  2017-06  2017-07  2017-08  \
129      NaN      NaN      NaN   ...      2850.0   3000.0   2997.5   2850.0
560      NaN      NaN      NaN   ...      2895.0   3100.0   2895.0   2650.0

     2017-09  2017-10  2017-11  2017-12  2018-01  2018-02
129   2850.0   3025.0   2950.0   2747.5   2600.0   2800.0
560   2650.0   2660.0   2687.5   2600.0   2795.0   2795.0

[2 rows x 102 columns]
4Bedroom
Empty DataFrame
Columns: [RegionName, City, State, Metro, CountyName, SizeRank, 2011-01, 2011-02, 2011-03, 2011-04, 2011-05, 2011-06, 2011-07, 2011-08, 2011-09, 2011-10, 2011-11, 2011-12, 2012-01, 2012-02, 2012-03, 2012-04, 2012-05, 2012-06, 2012-07, 2012-08, 2012-09, 2012-10, 2012-11, 2012-12, 2013-01, 2013-02, 2013-03, 2013-04, 2013-05, 2013-06, 2013-07, 2013-08, 2013-09, 2013-10, 2013-11, 2013-12, 2014-01, 2014-02, 2014-03, 2014-04, 2014-05, 2014-06, 2014-07, 2014-08, 2014-09, 2014-10, 2014-11, 2014-12, 2015-01, 2015-02, 2015-03, 2015-04, 2015-05, 2015-06, 2015-07, 2015-08, 2015-09, 2015-10, 2015-11, 2015-12, 2016-01, 2016-02, 2016-03, 2016-04, 2016-05, 2016-06, 2016-07, 2016-08, 2016-09, 2016-10, 2016-11, 2016-12, 2017-01, 2017-02, 2017-03, 2017-04, 2017-05, 2017-06, 2017-07, 2017-08, 2017-09, 2017-10, 2017-11, 2017-12, 2018-01, 2018-02]
Index: []

[0 rows x 92 columns]
5BedroomOrMore
Empty DataFrame
Columns: [RegionName, City, State, Metro, CountyName, SizeRank, 2011-12, 2012-01, 2012-02, 2012-03, 2012-04, 2012-05, 2012-06, 2012-07, 2012-08, 2012-09, 2012-10, 2012-11, 2012-12, 2013-01, 2013-02, 2013-03, 2013-04, 2013-05, 2013-06, 2013-07, 2013-08, 2013-09, 2013-10, 2013-11, 2013-12, 2014-01, 2014-02, 2014-03, 2014-04, 2014-05, 2014-06, 2014-07, 2014-08, 2014-09, 2014-10, 2014-11, 2014-12, 2015-01, 2015-02, 2015-03, 2015-04, 2015-05, 2015-06, 2015-07, 2015-08, 2015-09, 2015-10, 2015-11, 2015-12, 2016-01, 2016-02, 2016-03, 2016-04, 2016-05, 2016-06, 2016-07, 2016-08, 2016-09, 2016-10, 2016-11, 2016-12, 2017-01, 2017-02, 2017-03, 2017-04, 2017-05, 2017-06, 2017-07, 2017-08, 2017-09, 2017-10, 2017-11, 2017-12, 2018-01, 2018-02]
Index: []

[0 rows x 81 columns]